@charset "utf-8";

/*
*预定信息页面
*/
.book-human {
	width: 60%;
	margin: 0 auto 15px;
}
.book-human .headimgurl {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}
.book-human .headimgurl img {
	width: 100%;
	height: 100%;
}
.book-human h4 {
	line-height: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
	color: #333;
}
.book-table {
	width: 60%;
	padding: 20px;
	margin: 0 auto 15px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.book-table table {
	width: 100%;
}
.book-table table td {
	padding: 8px;
	background-color: #fff;
}
.book-table table tr:nth-child(even) td {
	background-color: #f8f8f8;
    background: -moz-linear-gradient(center top , #fcfcfc, #f8f8f8) repeat-x scroll 0 0 #f8f8f8;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#f8f8f8)) repeat-x scroll 0 0 #f8f8f8;
    background:-ms-linear-gradient(top, #fcfcfc, #f8f8f8);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#fcfcfc,endColorstr=#f8f8f8,grandientType=0);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
}
.book-table table tr:hover td {
	background-color: #d5d9e5;
    background: -moz-linear-gradient(center top , #f0f0f8, #d5d9e5) repeat-x scroll 0 0 #d5d9e5;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f8), to(#d5d9e5)) repeat-x scroll 0 0 #d5d9e5;
    background:-ms-linear-gradient(top, #f0f0f8, #d5d9e5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f0f0f8,endColorstr=#d5d9e5,grandientType=0);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8);
}
.book-table td img {
	width: 80px;
	height: 80px;
}
